<div class="human-badge">
  <a class="human-badge-link" href="https://notbyai.fyi/" rel="noopener nofollow" target="_blank" aria-label="Written by a human">
    {% assign light_path = '/assets/images/notai/Written-By-a-Human-Not-By-AI-Badge-black.svg' | relative_url %}
    {% assign dark_path  = '/assets/images/notai/Written-By-a-Human-Not-By-AI-Badge-white.svg' | relative_url %}
    <img class="human-badge-img human-badge-light" src="{{ light_path }}" alt="Written by humans, not by AI" loading="lazy">
    <img class="human-badge-img human-badge-dark"  src="{{ dark_path }}"  alt="Written by humans, not by AI" loading="lazy">
  </a>
</div>
