.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

.emoji {
	margin: 0px !important;
	padding: 0px !important;
	display: inline !important;
}
