<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ site.name }}{%if page.title and page.title != 'Home' %} - {{ page.title }}{% endif %}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% if page.layout == "post" %} {{page.excerpt | strip_html }} {% else %} {{ site.description }} {% endif %}" />

    <!-- Twitter Cards -->
    <meta name="twitter:title" content="{{ site.name }}{%if page.title and page.title != 'Home' %} - {{ page.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.layout == "post" %} {{page.excerpt | strip_html }} {% else %} {{ site.description }} {% endif %}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@dlion92">
    <meta name="twitter:creator" content="@dlion92">
    <meta name="twitter:image" content="{{site.domain_name}}{% if page.cover %}{{page.cover}}{% else %}/assets/images/covers/robot.png{% endif %}">

    <!-- Open Graph -->
    <meta property="og:locale" content="en_US" />
    {% if page.layout == "post" %}
	    <meta property="og:type" content="article" />
    {% endif %}
    <meta property="og:title" content="{{ site.name }}{%if page.title and page.title != 'Home' %} - {{ page.title }}{% endif %}">
    <meta property="og:url" content="{{ site.domain_name }}{% if page.url %}{{page.url}}{% endif %}">
    <meta property="og:site_name" content="{{ site.name }}{%if page.title and page.title != 'Home' %} - {{ page.title }}{% endif %}">
    <meta property="og:image" content="{{site.domain_name}}{% if page.cover %}{{page.cover}}{% else %}/assets/images/covers/robot.png{% endif %}">
    <meta property="og:description" content="{% if page.layout == "post" %} {{page.excerpt | strip_html }} {% else %} {{ site.description }} {% endif %}"/>


    <!-- Icons -->
    <link rel="shortcut icon" type="image/x-icon" href="{{site.domain_name}}/favicon.ico?">

    <!--<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" /> -->
    <link rel="stylesheet" type="text/css" href="{{site.domain_name}}/assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="{{site.domain_name}}/assets/css/screen.css" />
    <!-- Customisation  -->
    <link rel="stylesheet" type="text/css" href="{{site.domain_name}}/assets/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="{{site.domain_name}}/assets/css/main.css" />

    <link rel='alternate' type='application/rss+xml' title='RSS' href='{{site.domain_name}}/feed.xml'>

</head>
<body class="{% if page.post_class %}{{page.post_class}}{% else %}home-template{% endif %} nav-closed">

    {%if site.navigation %}
    {% include navigation.html %}
    {% endif %}

    <div class="site-wrapper">

      {{ content }}

      <footer class="site-footer clearfix">
        <section class="copyright">
		<a href="{{ site.domain_name}}">{{ site.name }}</a> &copy;
                {{'now' | date: "%Y"}} &bull; All rights reserved.
        </section>
        <section class="poweredby">Proudly published with <a href="https://jekyllrb.com">Jekyll</a>.</section>
      </footer>

    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{site.domain_name}}/assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="{{site.domain_name}}/assets/js/index.js"></script>

    {% if site.google_analytics %}
    <!-- Google Analytics Tracking code -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
</body>
</html>
